body {
  margin: 0px;
  font-family: "Franklin Light", Arial, sans-serif;
  line-height: 1.6;
  background-color: blueviolet;
  color: black;
}

.article-title {
  background-color: blueviolet;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: center;
  margin: 0px;
  font-size: 46px;
  font-weight: normal;
}

.subhead {
  max-width: 700px;
  margin-bottom: 2px;
  font-size: 20px;
}

.content {
  max-width: 1200px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.story-text {
  margin-bottom: 2px;
}

.chart-section {
  margin: 2px;
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  background-color: white;
}

.site-footer {
  background-color: blueviolet;
  padding: 1px;
  text-align: center;
  font-size: 0.85px;
  color: black;
}